@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Breeze Sample</a>
                </p>
            </div>
        </div>
    </header>
    <div id="body">
        <section id="content" class="content-wrapper main-content">

            <div data-bind="visible: show" style="display: none">
                <a href="#" data-bind="click: save">Save</a>&nbsp;
                    <input type="checkbox" data-bind="checked: includeInactive" />
                include inactive 
  
                    <ul data-bind="foreach: lists">
                        <li>
                            <form>
                                <input type="checkbox" data-bind="checked: Active" />
                                <input type="text" data-bind="value: Name" />
                                <br />
                                <span>Item count:</span><span data-bint="text:Items.length"></span>
                                <ul data-bind="foreach: Items">
                                    <li>
                                        <strong>Name</strong>: <span data-bind="text:Name"></span><br />
                                        <strong>Amount</strong>: <span data-bind="text:Amount"></span>
                                    </li>
                                </ul>
                            </form>
                        </li>
                    </ul>
            </div>

            <div id="logmessages"></div>
        </section>
    </div>
    <!--3rd party library scripts -->
    <script src="/Scripts/jquery-1.7.1.min.js"></script>
    <script src="/Scripts/knockout-2.2.0.js"></script>
    <script src="/Scripts/knockout.mapping-latest.debug.js"></script>
    <script src="/Scripts/q.js"></script>
    <script src="/Scripts/breeze.debug.js"></script>

    <!-- Application scripts -->
    <script src="/Scripts/app/logger.js"></script>
    <script src="/Scripts/app/shoppingList.js"></script>